ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    display:flex;
    align-items: center;
}

.menu{
    display: flex;
    gap: 1em;
  font-size: 18px;
}

  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }

  #container-fluid1
{
        background-image:url(ship3.jpg);
}
a{
  text-decoration: none;
}

a:hover{
  
  font-weight: bold;
  text-decoration:underline;
}

.card:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transform: scale(1.05);
 
}

#contact-container{
  background-image: url(ship3.3.jpg);
}

#portfolio-card:hover
{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transform: scale(1.05);
}


  @media screen and (max-width: 600px) and (min-width:300px) {
    .menu {
       display:none;
       position: absolute;
       right: 0;
       left: 0;
       text-align: center;
       padding: 16px 0;

     }
   
     .menu li:hover {
       display: inline-block;
       transition: 0.3s ease;
       background-color: red;
       
     }
     input[type=checkbox]:checked ~ .menu {
        display: block;
        background-color: black;
      }
    
      .hamburger {
        display: block;
        
      }
      
      .container-fluid .row [class^="col-"]
      {
          width: 100%;
          max-width: 100%;
          display: block;
          text-align: center;
    justify-content: center;
    align-items: center;
          
      }

    .planlist, p{
      padding-right: 60px;
    }

    .card{
      border: none;
    }

    #custom-card{
      margin-left: 30px;
      text-align:center;
      
    }

    .custom-card-text{
      padding-left: 50px;
    }
  }

  @media screen and (max-width: 1000px) and (min-width: 601px){

    .container-fluid .row [class^="col-2"]
      {
          width: 100%;
          max-width: 100%;
          text-align: center;
    justify-content: center;
    align-items: center;
          
      }

       header{
        width: auto;
        
       }

       .menu {
        display:none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
 
      }
    
      .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
        background-color: red;
        
      }
      input[type=checkbox]:checked ~ .menu {
         display: block;
         background-color: black;
       }
     
       .hamburger {
         display: block;
         
       }

       .card{
        border: none;
      }

  }

  @media screen and (max-width:300px) {

    .container-fluid .row [class^="col-"]
      {
          width: 100%;
          max-width: 100%;
          text-align: center;
    justify-content: center;
    align-items: center;
          
      }

      .menu {
        display:none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
 
      }
    
      .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
        background-color: red;
        
      }
      input[type=checkbox]:checked ~ .menu {
         display: block;
         background-color: black;
       }
     
       .hamburger {
         display: block;
         
         
       }

       .card{
        border: none;
      }

      #plan, img{
        text-align: center;
        margin-right: 10px;
        align-items: center;
      }

      #custom-card{
        margin-right: 30px;
        text-align: center;
        width: 280px;
      }





    
  }